<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="add-student-page">

<div class="add-student-container">

    <h2>Add Student</h2>

    <form method="post">
        <input
            type="text"
            name="name"
            placeholder="Student Name"
            required
        >

        <input
            type="text"
            name="roll_no"
            placeholder="Roll Number"
            required
        >

        <button type="submit">Add Student</button>
    </form>

    <a href="/teacher_dashboard" class="back-link">← Back</a>

</div>

</body>
</html>
