<!DOCTYPE html>
<html>
<head>
    <title>Enter Marks</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="marks-page">

<div class="add-student-container">

    <h2>Enter Student Marks</h2>

    <form method="post">

        <input
            type="text"
            name="roll_no"
            placeholder="Roll Number"
            required
        >

        <input type="number" name="s1" placeholder="Subject 1" required>
        <input type="number" name="s2" placeholder="Subject 2" required>
        <input type="number" name="s3" placeholder="Subject 3" required>
        <input type="number" name="s4" placeholder="Subject 4" required>
        <input type="number" name="s5" placeholder="Subject 5" required>

        <button type="submit">Save Marks</button>

    </form>

    <a href="/teacher_dashboard" class="back-link">← Back</a>

</div>

</body>
</html>
