<!DOCTYPE html>
<html>
<head>
    <title>Remove Student</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="remove-student-page">

<div class="add-student-container">

    <h2>Remove Student</h2>

    <form method="post">
        <input
            type="text"
            name="roll_no"
            placeholder="Roll Number"
            required
        >

        <button type="submit">Remove Student</button>
    </form>

    <a href="/teacher_dashboard" class="back-link">← Back</a>

</div>

</body>
</html>
