<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="student-dashboard-page">

<div class="dashboard-container">

    <h2>Student Dashboard</h2>

    <div class="dashboard-grid">

        <a href="/view_marks" class="dash-btn">View Marks</a>
        <a href="/view_attendance" class="dash-btn">View Attendance</a>

        <a href="/add_friend" class="dash-btn">Add Friend</a>
        <a href="/student_relationships" class="dash-btn">
            View Friendships
        </a>

    </div>

    <a href="/logout" class="logout-btn">Logout</a>

</div>

</body>
</html>
